html {
	background-color: #F6F5F0;
	height: 100%;
}

body {
	background-color: #90EE90;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	padding-bottom: 100px;
}

header,footer {
	background-color: #FFF;
	color: #90EE90;
	height: auto;
	padding: 0 1em;
}

footer {
	height: 100px;
}

header a {
	text-decoration: none;
	color: #90EE90;
}

h1 {
	margin: 0;
}

a {
	text-decoration: none;
}

header h1 {
	display: inline-block;
}

form {
	min-width: 12em;
	margin: 0 auto;
}

#navigation {
	float: right;
	padding: 0.5em 0;
}

#content-wrap {
	padding: 0 2em;
	min-height: 100%;
}

.form-small {
	border: 2px solid #90EE90;
	border-radius: 0.5em;
	position: relative;
	float: right;
	top: 2em;
	right: 2em;
	width: 12em;
	padding: 1em;
	background-color: #FFF;
}

.form-large {
	padding: 1em;
	background-color: #FFF;
	margin: 1em auto 0;
}


.form input[type="text"], .form input[type="password"] ,.form textarea{
	border: 1px solid #90EE90;
	width: 100%;
	resize: none;
}

.form button , .form a {
	margin-top: 1em;
}

#header-image {
	height: 100%;
	width: 100%;
	background: url("../img/crowd1.jpg") no-repeat center center fixed;;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}